// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$primary: rgb(111, 97, 192);
$primary-variant: rgb(160, 132, 232);
$primary-light: rgb(139, 232, 229);
$on-primary: rgb(255, 255, 255);

$background: rgb(230, 230, 230);
$on-background: rgb(0, 0, 0);

$surface: rgb(255, 255, 255);
$on-surface: rgb(0, 0, 0);